/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("image2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Container for the login form */
.login-container {
    color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.1);
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a slight dark overlay for better text readability */
}

/* Heading styling */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

/* Form group styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Button styling */
.button-link {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.button-link:hover {
    background-color: #0056b3;
    text-align: center;
}

/* Sign up link styling */
.signup-link {
    margin-top: 15px;
    text-align: center;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
